name: Docker Build/Publish Image 
on:
  push:
    branches: 
      - master
      - staging
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOCKER_IMAGE: omni
      DOCKER_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.TOKEN }}
      DOCKER_TARGET_PLATFORM: linux/arm64,linux/arm32
    steps:
    - name: Checkout the code
      uses: actions/checkout@v1

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Dockerhub
      uses: docker/login-action@v3
      with:
        username: ${{ DOCKER_USERNAME }}
        password: ${{ DOCKER_PASSWORD }}

    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./DockerfileARM
        platforms: linux/amd64,linux/arm64
        push: true
        tags: ${{ DOCKER_USERNAME }}/omni:latest
